.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/img/background.jpg') center/cover no-repeat; /* Resmin yolunu ekleyin */
    height: 100vh;
  }
  
  .form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .imageContainer {
    grid-column: span 2; /* İki sütun boyunca uzanacak */
    height: 300px; /* İstediğiniz yüksekliği ayarlayın */
    background-image: url('/img/background.jpg'); /* Resmin yolunu ekleyin */
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Dilerseniz kenarları yuvarlatabilirsiniz */
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form select,
  .form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .calculateButton {
    grid-column: span 2;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .calculateButton:hover {
    background-color: #0056b3;
  }
  
  .fullWidth {
    width: 100%;
  }